main {
  background-color: white;
  margin: 0 auto;
  padding: 0 100px;
  width: 600px;
}

h1 {
  background-color: #e8e8e8;
  border-radius: 0 0 10% 10%;
  color: #121212;
  font-family: "GTAmerica-CompressedBold";
  padding: 30px 0;
  text-align: center;
}

h2 {
  color: #212121;
  font-family: "GTAmerica-CompressedBold";
}

section {
  background-color: #e8e8e8;
  border-radius: 10%;
  margin: 30px 0;
  padding: 30px;
  text-align: center;
}

.uri {
  font-size: 0.8em;
}

.trackContainer {
  padding: 10px;
  border-bottom: solid 1px black;
}
